<style>
    .col-container {
        display: table;
        width: 100%;
    }

    .col {
        display: table-cell;
        padding: 16px;
    }
</style>
<section class="content-header">
    <div class="container-fluid">
        <h3 style="display:none">Ana Sayfa</h3>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <label class="Lbl">Ana Operasyonel Akış: A</label>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label class="Lbl">Dövme Departmanı Modül: D</label>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label class="Lbl">Tasarım Departmanı Modül: T</label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4> Ana Operasyonel Akış </h4>
                        </div>
                        <div class="card-body">
                            <ul>

                                <li><a href="../cleopatra/CleopatraLobi"> Cleopatra Ink Lobi </a></li>
                                <li><a href="../cleopatra/DisInfocuMusteriTanismaFormuListesi"> Dış İnfocu Müşteri Tanışma Formları Listesi </a></li>

                                <li><a href="../cleopatra/KasaDepozitoIslemleri"> Kasa Depozito İşlemleri </a></li>
                                <li><a href="../cleopatra/RezervasyonGunuKayitSayfasi"> Rezervasyon Günü İş Başlangıç Saati </a></li>
                                <li><a href="../cleopatra/TasarimciIsBitirmeSayfasi"> Tasarım Sanatçısı İş Bitirme </a></li>
                                @*<li><a href="../cleopatra/PiercingIsBitirmeSayfasi"> Piercing İş Bitirme </a></li>*@
                                <li><a href="../cleopatra/StudyoIciDovmeSanatcisiAtamaSureci"> Stüdyo İçi Dövme Atama Süreci </a></li>
                                <li><a href="../cleopatra/DovmeSanatcisiStudyoGiris"> Stüdyo Giriş </a></li>

                                <li><a href="../cleopatra/DovmeSanatcisiIsBitirmeSayfasi"> Dövme Sanatçısı İş Bitirme </a></li>
                                <li><a href="../cleopatra/KasaBakiyeIslemleri"> Kasa Bakiye İşlemleri </a></li>
                                <li><a href="../cleopatra/IslerTakip"> İşler Takip </a></li>

                                <li><a href="../cleopatra/IptalTalebiListesi">  İptal Talebi Listesi </a></li>
                                <li><a href="../cleopatra/MusteriSikayetListesi"> Müşteri Şikayetleri Listesi </a></li>
                                <li><a href="../cleopatra/departmansikayetcevaplari"> Departman Şikayet Cevaplama </a></li>
                                <li><a href="../cleopatra/DovmeDegerlendirmeSayfasiGetir"> Dövme Değerlendirme </a></li>
                                <li><a href="../cleopatra/TasarimDegerlendirmeSayfasiGetir"> Tasarım Değerlendirme </a></li>


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4> Organizasyon </h4>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><a href="../cleopatra/StudyoListesi"> Stüdyo Listesi(A) </a></li>
                                <li><a href="../cleopatra/BolgeListesi"> Bölge Listesi(A) </a></li>
                                <li><a href="../cleopatra/GerceklesenZiyaretlerListesi"> Gerçekleşen Ziyaretler Listesi(A) </a></li>

                                <li><a href="../cleopatra/DovmeDepartmaniSahaKontrolu"> Dövme Departmanı Saha Kontrolü(D) </a></li>
                                <li><a href="../cleopatra/HanutcuListeleme"> Hanutçu Listesi(A) </a></li>
                                <li><a href="../cleopatra/TransferYonetimMerkezi"> Transfer Yönetim Merkezi(A) </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4> Personel </h4>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><a href="../cleopatra/PersonelAdayLobi"> Personel Aday Başvuru Lobisi(DT) </a></li>
                                <li><a href="../cleopatra/PersonelAdayBasvuruFormuListesi"> Personel Aday Başvuru Form Listesi(DT) </a></li>

                                <li><a href="../cleopatra/IKHavuzTakipMerkezi"> IK Havuz Takip Merkezi(DT) </a></li>
                                <li><a href="../cleopatra/HavuzArama"> IK Havuz Arama(DT) </a></li>


                                <li><a href="../cleopatra/PersonelListesi"> Personel Listesi(DT) </a></li>
                                <li><a href="../cleopatra/PersonelStatuDegisimOnerileri"> Personel Statü Değişim Önerileri(DT) </a></li>


                                <li><a href="../cleopatra/EgitimTakip"> Eğitim Öneri ve Takip(DT) </a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4> Dövme Akış Modülü </h4>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><a href="../cleopatra/StudyoTalepKayit"> Dövme Stüdyosu Talep Kayıt </a></li>
                                <li><a href="../cleopatra/DovmeSanatcisiKarsilastirma"> Dövme Sanatçısı Karşılaştırma </a></li>
                                <li><a href="../cleopatra/DovmeStudyoTalepleri"> Dövme Stüdyo Talepleri </a></li>
                                <li><a href="../cleopatra/DovmeStudyosuTalepAtamalari"> Dövme Stüdyosu Talep Atamaları </a></li>
                                <!--kesinleşmemiş sayfalar-->
                                <li><a href="../cleopatra/DovmeSanatcisiAtamalari"> Dövme Sanatçısı Atamaları </a></li>
                                <li><a href="../cleopatra/AtamaOnayStudyo"> Atama Onayı Stüdyo </a></li>
                                <li><a href="../cleopatra/AtamaOnayDS"> Atama Onayı DS </a></li>
                                <!--kesinleşmemiş sayfalar-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4> Tasarım Akış Modülü </h4>
                            <label style="color:red">İsteğiniz üzerine tasarım akış modülü boş bir şekilde eklendi.</label>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4> Formlar/Anketler </h4>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><a href="../cleopatra/MusteriMemnuniyetAnketListeleme"> Müşteri Memnuniyeti Anketi Listesi(A) </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4> Tanımlamalar </h4>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><a href="../cleopatra/KomisyonOranlariListesi"> Komisyon Oran Listeleri(ADT) </a></li>
                                <li><a href="../cleopatra/HizmetTipleriRutbeEslestirmeListe"> Hizmet Tipleri Rütbe Eşleştirme Listesi(DT) </a></li>
                                <li><a href="../cleopatra/PuanTanimlama"> Puan Tanımlama(DT) </a></li>
                                <li><a href="../cleopatra/PozisyonKayitYetkilendirme"> Pozisyon Yetkilendirme(ADT) </a></li>
                                <li><a href="../cleopatra/SayfaAlanYetkilendirme"> Sayfa Alan Yetkilendirme(ADT) </a></li>
                                <li><a href="../cleopatra/EgitimTanimlariListesi"> Eğitim Tanımları Listesi(DT) </a></li>
                                <li><a href="../cleopatra/MekanListeleme"> Mekan Listesi(A) </a></li>
                                <li><a href="../cleopatra/OzelGunlerListesi"> Özel Günler Listesi(A) </a></li>
                                <li><a href="../cleopatra/SistemParametreleri"> Sistem Parametreleri(A) </a></li>
                                <li><a href="../cleopatra/CezaOdulTanimlama"> Ceza-Ödül Tanımlama(DT) </a></li>

                                <li><a href="../cleopatra/CezaOdulBildirimListeleme"> Ceza-Ödül Bildirim Listesi(DT) </a></li>
                                <li><a href="../cleopatra/ZiyaretSikliklariListesi"> Ziyaret Sıklıkları Listesi(A) </a></li>
                                <li><a href="../cleopatra/ParametreTanimlama"> Parametre Tanımlama(ADT) </a></li>
                                <li><a href="../cleopatra/EpostaSablonBildirimTanimlari"> E-posta Şablon Bildirim Tanımları(A) </a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4> Mali </h4>
                        </div>
                        <div class="card-body">
                            <ul>
                                @*<li><a href="../cleopatra/KasaBekleyenTahsilat"> Kasa Bekleyen Depozito/Tahsilat </a></li>*@
                                <li><a href="../cleopatra/SozlesmeListeleme"> Sözleşme Listesi(ADT) </a></li>
                                <li><a href="../cleopatra/CezaOdulTakipMerkezi"> Ceza-Ödül Takip Merkezi(DT) </a></li>
                                <li><a href="../cleopatra/Hakedisler"> Hakedişler(A) </a></li>
                                <li><a href="../cleopatra/UrunSatisListesi"> Ürün Satış Listesi(A) </a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4> Destek </h4>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li><a href="../cleopatra/PortalKaydet"> Portal Kayıt(DT) </a></li>
                                <li><a href="../cleopatra/BekleyenPortalKayitTalepler"> Bekleyen Portal Kayıt Talepleri(DT) </a></li>

                                <li><a href="../cleopatra/TakvimGetir"> Takvim(DT) </a></li>
                                <li><a href="../cleopatra/SosyalMedyaYonetimMerkezi"> Sosyal Medya Yönetim Merkezi(A) </a></li>
                                <li><a href="../cleopatra/PotasiyelMusterilerListesi"> Potansiyel Müşteri Listesi(A) </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

