<script src="~/js/E-market/Profil.js"></script>


<div class="container col-md-9 mt-5">
    <h1 style="display:none">Profil</h1>
    <div class="row">
        <div class="col-md-5">

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Kişisel Bilgiler</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Ad</label>
                            <input class="form-control" id="txtAd">
                        </div>
                        <div class="col-md-6">
                            <label>Soyad</label>
                            <input class="form-control" id="txtSoyad">
                        </div>
                        <div class="col-md-12 mt-3">
                            <label>Email</label>
                            <input class="form-control onlyEmail" id="txtEmail">
                        </div>
                        <div class="col-md-12 mt-3">
                            <button class="btn btn-primary btn-lg btn-block" id="btnGuncelle" onclick="KisiBilgileriGuncelle()">Güncelle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 ml-auto">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">İlgilendiğim Ürünler</h5>

                </div>
            </div>
        </div>
    </div>

</div>
