<script src="~/js/E-market/Urun.js"></script>
<link href="~/css/Urun.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-2">
        <div class="row mt-5">
            <div class="col-md-12">
                <label>Kategoriler</label>
            </div>
        </div>
        <div class="row" id="kategoriTekrarli">

        </div>
    </div>
    <div class="col-md-10">
        <div class="row mt-5" id="urunTekrarli">
        </div>
    </div>

</div>