<script src="~/js/E-market/Urun.js"></script>


<div class="row mt-5" id="urunTekrarli">
</div>

<style>

    button:hover {
        color: white;
        background-color: lightcoral;
    }

    .buttonfocus:focus {
        color: white !important;
        background-color: lightcoral !important;
    }

</style>