<script src="~/js/E-market/UyeList.js"></script>

<div class="container col-md-12 mt-5">

    <table id="uyeTable" style="width: 100% !important;" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>E-Mail</th>
                <th>Gönderi Sayısı</th>
                <th>Üyelik Tarihi</th>
                <th>İşlemler</th>

            </tr>
        </thead>
        <tbody id="tbodyUye">
        </tbody>
    </table>

</div>

<style>

    .table.dataTable th {
        color: #4f4f4f !important;
    }
</style>